body, html, #root {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* TODO: Move this somewhere nicer */

.BrainhubCarousel ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
